@import "../../vars.css";

.container {
  color: var(--color-text);
  margin: 60px 10%;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: var(--color-text);
  margin-bottom: 30px;
}

.educationList {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.educationItem {
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  padding: 20px;
  border-radius: 12px;
}

.degree {
  font-size: 24px;
  font-weight: 600;
}

.university {
  font-size: 20px;
  font-weight: 500;
}

.year,
.grade {
  font-size: 18px;
  font-weight: 400;
  margin-top: 5px;
}

@media screen and (max-width: 768px) {
  .container {
    margin: 40px 5%;
  }

  .title {
    font-size: 28px;
  }

  .degree {
    font-size: 20px;
  }

  .university,
  .year,
  .grade {
    font-size: 16px;
  }
}
